:root {
  --colour-background: #f4f6f8;
  --colour-primary: #182250;
  --colour-font: #212b36;
  --colour-font-subdued: #637381;
  --colour-grey: #dfe3e7;
  --colour-red: #de3518;

  --colour-error: #bf0711;
  --colour-error-background: #fde7e5;
  --colour-success: #108043;
  --colour-warning: #eec200;
  --colour-info: #212b36;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.react-flow__node-custom {
  padding: 10px;
  background-color: #556677;
  color: white;
}

.workflow-container {
  position: relative;
  width: fit-content;
  height: fit-content;

  overflow: hidden;
}

.node {
  fill: var(--colour-primary);
}

.node-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.2em;
  text-align: center;
  word-wrap: break-word;
  color: var(--colour-background);
  cursor: pointer;
}

.node-label>div {
  width: 100%;
  word-wrap: break-word;
}

.state-view {
  width: 250px;
  height: 250px;
  z-index: 1000;
  padding: 8px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  bottom: 20px;

  word-wrap: break-word;
  border-radius: 4px;
  background-color: var(--colour-grey);

  overflow: hidden;
  overflow-y: auto;
}

.state-header {
  width: 100%;
  margin-bottom: 8px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.state-title {
  font-size: 12px;
  font-weight: bold;
}

.state-status {
  font-size: 10px;
  font-weight: bold;

  color: var(--colour-success);
}

.state-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 10px;
}

.content-title {
  font-size: 11px;
  font-weight: bold;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-size: 10px;
}

.graph-control {
  width: 150px;
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  padding: 8px;
  background-color: var(--colour-grey);
}